{% extends 'base.html' %}
{% block content %}

<h1>Group <span class="text-warning">{{ group.name }}</span></h1>

<h4 class="col-8 light-background dark-text lifted rounded-2 p-2 m-2 mx-auto">
    The group owner is <span class="text-uppercase">{{ group.creator }}</span>!
</h4>
<h6>Group Members:</h6>
{% for user in group.users.all %}
<div class="d-flex flex-column input-group-text lifted p-0 m-0 h-75">
    <div class="h-100 my-1">
        {{ user }}
    </div>
</div>
{% endfor %}
{% if group.services.all %}
<h6>Group Services:</h6>

<div class="col-9 light-background dark-text lifted rounded-2 p-2 m-2 mx-auto">
    <div class="d-flex flex-row light-background align-items-center rounded-2 flex-wrap p-1">

        {% for service in group.services.all %}
        <div class="col-1 rounded-2 dark-background lifted p-0 m-1">
            <img style="max-width: 100%;" class="my-0 p-0 border border-1 rounded-2 border-secondary "
                src="{{service.logo}}">
        </div>
        {% endfor %}
    </div>
</div>
<br>
<h6>Top Rated Show:</h6>
<h6 class="display-5">{{ show.title }}</h6>
<div class="d-flex flex-row justify-content-between lifted mx-auto rounded-2 light-background m-3">
    <div class="col-2 mx-auto my-2">
        <img style="height: 100%;" src="{{ show.poster }}" alt="">
    </div>
    <div class="col-7 mx-auto my-2">

        <iframe style="height: 100%;" width="100%" height="100%" src="{{ trailer_url }}" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>

<article class="mx-auto my-auto">{{ show.plot_overview }}</article>
{% if group.creator == user.profile %}
<a href="{% url 'group_delete' group.id %}">Delete Group</a>
{% endif %}
{% else %}
<h6>No Group Services</h6>
{% endif %}
{% endblock %}