{% extends 'base.html' %}
{% block content %}
<div class="">

    <h1 class="col-7 mx-auto mb-5 mt-2 light-text lighten-area text-center lifted rounded-2">Welcome to NOSPOILERS</h1>
</div>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner p-0">
      <div class="carousel-item active">
        
      </div>
     
      <div class="carousel-item">
        <p class="lifted col-8 mx-auto pe-auto lighten-area dark-text carousel-caption">aaaaaaaaaaaaaaaaaaaaaaa<br>
        asoiudewqweqweqweqweqweqweqweqweqwe</p>
        <img src="https://i.imgur.com/gOHpdV1.jpg" class="d-block w-75 px-auto mx-auto" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>







{% endblock %}