{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .add-remove {
    position: absolute;
    width: 110px;
    height: 110px;
    font-size: 90px;
    opacity: 0;
    padding-top: 0;
    line-height: 0;
  }

  .add-remove:hover {
    opacity: 80%;
  }

</style>
<div class="col-6 mx-auto">
  <h1>This is the profile page for {{user.username}}</h1>
  {% if profile.services.all %}
    <h4>You own these services: </h4>
  {% else %}
    <h4>No Services :(</h4>
  {% endif %}
</div>

<div class="d-flex flex-row light-background align-items-center flex-wrap p-1">

  {% for service in profile.services.all %}
  <form action="{% url 'unassoc_services' profile.id service.id %}" method="POST" class="m-1">
    {% csrf_token %}
    <div class="d-flex flex-column justify-content-between dark-background lifted p-0 m-1 h-75 container">
      <img class="h-100 my-0 p-0 border border-1 rounded-2 border-secondary " src="{{service.logo}}">
      <button class="btn btn-warning btn-outline-warning my-auto add-remove">X</button>
    </div>
  </form>
  {% endfor %}
</div>

<h3>Available Services</h3>

<div class="d-flex flex-row light-background align-items-center flex-wrap p-1">

  {% for service in unowned_services %}

  <form action="{% url 'assoc_services' profile.id service.id %}" method="POST" class=" m-1 ">
    {% csrf_token %}
    <div class="d-flex flex-column justify-content-between dark-background lifted p-0 m-1 h-75 container">
      <img class="h-100 my-0 p-0 border border-1 rounded-2 border-secondary " src="{{service.logo}}">
      <button class="btn btn-danger btn-outline-danger my-auto add-remove">+</button>
    </div>

  </form>
  {% endfor %}

</div>

<h4>Joined Groups:</h4>
{% for group in user.group_set.all %}
<div class="col-6 align-items-start justify-content-left">
    <div class="d-flex align-items-center flex-row h-25 ">
        <div class="col-3">
            <div class="d-flex flex-row align-items-center">
                <img class="col-4 p-0 m-0 img-fluid " src="{% static 'imgs/tv.png' %}">
                <a href="{{ group.get_absolute_url }}" class="col-6 text-nowrap flex-row align-middle align-items-center justify-content-start p-0 m-0">{{ group.name }}</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<h4>Groups I Created:</h4>
{% if group %}
<a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
{% else %}
<form action="{% url 'create_group' profile.id %}" method="POST" class="m-1 col-4 mx-auto">
  {% csrf_token %}
  <div class="row mx-auto ">
    <span id="passwordHelpInline" class="form-text">
      Group Name:
    </span>
    <input type="text" name="name" id="name" value="" class="input-group-text col-auto">
    <span id="passwordHelpInline" class="form-text">
      4 digit pin:
    </span>
    <input type="password" name="pin" id="pin" value="" class="input-group-text col-auto">
    <button type="submit" class="btn btn-sm bg-dark bt-outline btn-outline-warning col-auto">Create Group</button>
  </div>
</form>
{% endif %}

<form action="{% url 'assoc_accounts' profile.id %}" method="POST" class="m-1 col-4 mx-auto">
  {% csrf_token %}
  <div class="row mx-auto ">
    <span id="passwordHelpInline" class="form-text">
      Group Name:
    </span>
    <input type="text" name="name" id="name" value="" class="input-group-text col-auto">
    <span id="passwordHelpInline" class="form-text">
      4 digit pin:
    </span>
    <input type="password" name="pin" id="pin" value="" class="input-group-text col-auto">
    <button type="submit" class="btn btn-sm bg-dark bt-outline btn-outline-warning col-auto">Join Group</button>
  </div>
</form>
<script>
  const trs = document.querySelectorAll('tr')
  trs.forEach(function (tr) {
    tr.setAttribute('class', 'input-group-text bg-primary light-text')
  })
</script>
{% endblock %}